<section class="block container">
    <div class="bloc__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias,
        itaque.
      </p>
    </div>
    <div class="card card--primary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, assumenda?
      </div>
    </div>
  </div>
  
  </section>
  <section class="block block--dark block--skewed-left">
    <div class="container">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias,
        itaque.
      </p>
    </div>
  </section>