<section class="block">
    <header class="block__header">
      <h2> What our Customers are Saying</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, ad!</p>
    </header>
    <div class="container">
      <div class="card testimonial">
        <div class="grid grid--1x2">
          <div class="testimonial__image">
            <img
              src="./css/images/testimonial.jpg"
              alt="happy smiling customer"/>
              <span class="icon-container icon-container--accent">
                <Svg class="icon icon--white icon--small">
                <use xlink:href="./css/images/sprite.svg#quotes"></use>
                </svg>
              </span>
            </div>
          <blockquote class="quote">
            <p class="quote__text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt alias et
              necessitatibus, hic porro dignissimos dolores esse atque debitis quas?
            </p>
            <footer>
              <div class="media">
                <div class="media__image">
                  <Svg class="icon icon--primary quote__line">
                  <use xlink:href="css/images/sprite.svg#line"></use>
                  </svg>
                </div>
                <div class="media__body">
                  <h3 class="media__title">Tristen Hobba</h3>
                  <p class="quote__organization">ABC Company ceo</p>
                </div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div> 
    </div>
  </section>