<section class="block block--dark block--skewed-right block showcase">
    <header class="block__header">
      <h2>User-friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2">
      <img class="block-showcase__image" src="./css/images/ipad.png" alt="" />
      <ul class="list">
        <li>
          <div class="media">
            <div class="media__image">
              <Svg class="icon icon--primary">
              <use xlink:href="css/images/sprite.svg#snap"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy start & Managed Updates</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptatibus vitae nostrum quae laudantium obcaecati soluta excepturi in ad aut?</p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <Svg class="icon icon--primary">
              <use xlink:href="css/images/sprite.svg#growth"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Staging, GIT & WP-CLI</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptatibus vitae nostrum quae laudantium obcaecati soluta excepturi in ad aut?</p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <Svg class="icon icon--primary">
              <use xlink:href="css/images/sprite.svg#wordpress"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Dynamic Caching & More</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptatibus vitae nostrum quae laudantium obcaecati soluta excepturi in ad aut?</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>