<link rel="stylesheet" href="./css/normalize.css" />
<link rel="stylesheet" href="./css/styles.css" />
</head>
<div class="collapsible collapsible--expanded" >
<header class="collapsible__header">
<h2 class="collapsible__heading">item 1</h2>
  <Svg class="icon icon--white collapsible__chevron">
  <use xlink:href="./css/images/sprite.svg#chevron"></use>
  </svg>
</span>
</header class="collapsible__header">
<div class="collapsible__content">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, consequatur.
</div>
</div>
<div class="collapsible collapsible--expanded" >
<header class="collapsible__header">
<h2 class="collapsible__heading">item 1</h2>
  <Svg class="icon icon--white collapsible__chevron">
  <use xlink:href="./css/images/sprite.svg#chevron"></use>
  </svg>
</span>
</header class="collapsible__header">
<div class="collapsible__content">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, consequatur.
</div>
</div>
<script src="./main.js"></script>
</body>