<blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt alias et
      necessitatibus, hic porro dignissimos dolores esse atque debitis quas?
    </p>
    <footer>
      <div class="media">
        <div class="media__image">
          <Svg class="icon icon--primary quote__line">
          <use xlink:href="css/images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title">Tristen Hobba</h3>
          <p class="quote__organization">ABC Company ceo</p>
        </div>
      </div>
    </footer>
  </blockquote>